.card-category {
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 8px rgb(0 0 0 / 90%);
  font-size: 32px;
  border-radius: 4px;
}
.card-product {
  width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(230 230 230);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230,230,230);
}

.card-product img {
  height: 120px;
  width: 200px;
  object-fit: contain;
}

.card-product h2, .card-product p {
  margin: 0;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
